<!DOCTYPE html>
<html>
<head>
  <title>Whatnow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


<!-- THIS IS THE TIME PICKER -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="css/bootstrap.min.css" />
<link type="text/css" href="css/bootstrap-timepicker.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap-2.2.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script> -->


</head>
<body>
	



	<nav> 

  	<ul class="nav nav-tabs">
  		<!-- <li class="/"><a href="#">Home</a></li> -->
	  	<li><a href="/">Home</a></li>

	  	<% if !current_user %>
		<li><a href="/authentications/new">Login</a></li>
		<li><a href="/users/new">Join</a></li>
		<% end %>

	  	<% if current_user %>
	  	<li><a href="/users/<%=current_user.id %>/triggers">List</a></li>
	  	<!-- <li><a href="users/<%#current_user.id %>/users/show">New</a></li> -->
	  	<li><%= link_to "New", new_user_trigger_url(current_user) %></li>
<!-- 	  	<li><a href="../../users/<%# current_user.id %>/triggers/new">New</a></li> -->
	  	<li><a href="/triggers/maindisplay">MainDisplay</a></li>
		<% end %>

	</ul>

<% if current_user %>
 <%# button_to "logout", "/authentications", method: "delete" %>
 <%= button_to "logout", "/authentications/:id", method: "delete" %>
 <!-- this would need routes.rb to be changed too to use id -->
<% end %>
	
<%# button_to "X", { action: "destroy", id: user.id}, {method: :delete, data:{confirm: "Are you damned sure???"}, :class => "button"} %>


	</nav>

<div id="container">
<%= yield %>
</div>


User id: <%= session[:user_id] %>

<%# trigger.time.to_s  %>
<%# trigger.url.to_s  %>

<%#= tvtitle[0].t_episode %>



<footer>Here's a footer!</footer>
</body>
</html>





